
<%= form_for(@quiz) do |f| %>
<p>
<%= f.label :name %></br>
<%= f.text_area :name %></br>
</p>
<p>
    <%= f.label :description %>
    <%= f.text_area :description %>
</p>
<p>
    <%= radio_button_tag(:correct) %>
    <%= label_tag(:correct) %>
</p>
<p>
    <%= f.submit "Select" %>
</p>



<% end %>